@import "tailwindcss";

@plugin "@tailwindcss/typography";

/*@custom-variant prose-inline-code (&.prose > code)*/

@theme {
	--breakpoint-\*: initial;
	--breakpoint-sm: 640px;
	--breakpoint-md: 768px;
	--breakpoint-lg: 1024px;
	--breakpoint-xl: 1280px;
}

@utility container {
	margin-inline: auto;
	padding-inline: 2rem;
}

.prose p > code {
	@apply bg-neutral-950 before:content-none after:content-none px-2 py-1 rounded-sm whitespace-break-spaces
}
